block variables

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.7/lib/draggable.bundle.js")
    script(src="/scripts/scripts.js")
    title dashboard-platform: #{title}
    script(type="text/javascript").
      const containers = document.querySelectorAll('.block')

      const droppable = new Draggable.Droppable(containers, {
        draggable: '.draggable',
        droppable: '.droppable'
      });

      droppable.on('drag:start', () => console.log('drag:start'));
      droppable.on('droppable:over', () => console.log('droppable:over'));
      droppable.on('droppable:out', () => console.log('droppable:out'));

  body(class="preload")
    div.top-bar.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow.header
      h5.my-0.mr-md-auto.font-weight-normal
        a(href="/", title="dashboard-platform")
          img.logo(src="/img/logo.png")
      nav.my-2.my-md-0.mr-md-3
        a.p-2.text-dark(href="/", title="Home") Home

        if user == undefined
          a.p-2.text-dark(href="/auth/zendesk") Log In
        else
          a.p-2.text-dark(href="/dashboard") Dashboard
          a.p-2.text-dark(href="/logout") Logout
          if(user.photos)
          - for (var i=0; i<user.photos.length; i++) {
            img.profilepic(src=user.photos[i].value, onclick='location.href="/profile"')
          - }
    .container
      block content

    //- footer.
    //-   Built with #[a(href="https://expressjs.com/") Express.js], login powered by #[a(href="https://developer.zendesk.com/") Zendesk].